@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* üzerine tıklayıp control +d ile tüm transformlar aynı anda seçilip üzerinde düzenleme yapılabiliyor */
    /* Control'e tıklayıp birkaç farklı nokta seçiliğinde cursor ile aynı anda o noktalarda düzeltme işlemi yapılabiliyor */
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
